.about-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: -1;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #09072c;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 70%;
  box-sizing: border-box;
  margin-top: 300px;
}

.custom-card {
  padding-top: 40px;
  color: #09072c;
  border: 1px solid gray;
  background-color: rgb(177, 173, 173);
  opacity: 80%;
  height: 350px;
}

.icons {
  margin-right: 40px;
}

.desarrolladores {
  background-color: rgb(177, 173, 173);
  opacity: 80%;
  color: #09072c;
}

.item {
  background-color: rgb(177, 173, 173);
  color: #09072c;
}

.proyecto h3 {
  margin-bottom: -60px;
}

.black-icon {
  padding-right: 10px;
  color: #09072c;
}

.tt {
  font-size: 27px !important;
}

@media (max-width: 768px) {
  .proyecto {
    margin-top: 100px;
  }

  .proyecto .overlay-text {
    padding-top: 300px;
  }
}
