.containerCategory{
    margin-top: 160px;
}



.imgListCat{
    height: 250px;
} 



.banner{
 padding-top: 100px;   
 padding-bottom: 20px;
 max-height:calc(100vh - 56px) ;
 position: sticky;
 top: 56px;
}
.imgBanner{
    width: 80%;
    height: 100%;
}