.loginDerecha {
  background: rgb(54, 142, 159);
  background: linear-gradient(
    141deg,
    rgba(54, 142, 159, 1) 0%,
    rgba(9, 7, 44, 1) 20%,
    rgba(9, 7, 44, 1) 80%,
    rgba(54, 142, 159, 1) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animateBackground 20s ease infinite;
}

@keyframes animateBackground {
  0% {
    background-size: 100% auto;
    background-position: 0 0;
  }
  50% {
    background-size: 200% auto;
    background-position: 50% 0;
  }
  100% {
    background-size: 100% auto;
    background-position: 100% 0;
  }
}

.logoLogin {
  animation: myAnim 5s ease-in-out;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.logoLogin {
  height: 200px;
}

.loginIzquierda p {
  color: #09072c;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
}

.formLogin {
  width: 400px;
}

.textCampoLogin {
  font-weight: 500;
  font-size: x-large;
  color: #09072c;
}
.btnLogin {
  width: 100%;
  margin-top: 10px;
  background-color: #09072c;
}

.testRegistro {
  margin-left: 15px;
  color: #707070;
  font-weight: 400;
}

.formLogin ::placeholder {
  color: #707070;
  font-weight: 500;
}

.contUserPrueba {
  width: 400px;
  border: solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px;
}

.contUserPrueba p {
  font-size: medium;
  margin-top: 0px;
  text-align: start;
}

#usertTextoPrueba {
  font-size: small;
  color: #707070;
  font-weight: 500;
}

.contUserPrueba ul {
  font-size: small;
  color: #707070;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .loginDerecha {
    height: 30vh;
  }
}
