.imgListCat {
  transition: transform 0.8s; /* Agrega una transición suave al efecto de zoom */
}

.imgListCat:hover {

  opacity: 80%; 
}

.contenido {
  display: flex; /* Usa flexbox para organizar los elementos */
  flex-direction: column; /* Organiza los elementos en una columna */
  max-height: 900px; /* Puedes ajustar este valor según tus necesidades */
  overflow: hidden;
}

@media (max-width: 768px) {
  .card-img-top {
    margin-top: 150px; /* Ajusta este valor según sea necesario */
  }
}
