.containerCategory {
  margin-top: 160px;
}

.imgListCat {
  height: 250px;
}

.productDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #09072c;
}

.cardTodosMia {
  width: 400px;
  border: solid #ccc;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  border-width: 1px;
  text-align: center;
}
.textTodosProductos {
  color: #09072c;
}
.my-custom-class {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .imgBanner {
    display: none;
  }
}
