.containerCategory{
    margin-top: 160px;
}



.imgListCat{
    height: 250px;
} 


.productDescription{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.cardTodosMia{
    width: 400px;
    border: solid #ccc; /* Establece un borde delgado de 1 píxel y color gris claro */
    box-shadow:  3px 3px 6px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    
   
   
}