.prodDestacados {
  font-weight: bold;
  font-size: 3rem;
  color: #09072c;
  padding-top: 60px;
}
.imgDestacados {
  height: 190px;
}
#btnPaginacion {
  background-color: #09072c;
  color: #ffffff;
}

@media (max-width: 768px) {
  .prodDestacados {
    text-align: center;
    font-size: 2rem;
   
  }
  #contProdDestacados{
    justify-content: center !important;
  }
 }
