.nav {
  height: 150px;
}
.logo {
  width: 120px;
  height: 120px;
  margin-top: 0px;
  border-radius: 0px;
}
.mianav {
  position: fixed;
}
.contenedorcarro {
  margin-left: 10px;
  padding: 10px;
}

.contenedorcarro:hover {
  border: 1px;
  border-color: #ffffff;
  border-style: solid;
}

.contenedorbtnlogin {
  margin-left: auto;
  padding: 10px;
}

.contenedorbtnlogin:hover {
  border: 1px;
  border-color: #ffffff;
  border-style: solid;
}

#btnIngresa {
  color: #ffffff;
  text-decoration: none;
}

.contenedorbtncategorias {
  margin-top: 10px;
  padding: 10px;
}

.contenedorbtncategorias:hover {
  border: 1px;
  border-color: #ffffff;
  border-style: solid;
  cursor: pointer;
}
.contenedorbtnTodos {
  margin-top: 10px;
  padding: 10px;
}
.contenedorbtnTodos link {
  text-decoration: none;
}

.contenedorbtnTodos:hover {
  border: 1px;
  border-color: #ffffff;
  border-style: solid;
  cursor: pointer;
}

/* .contenedorTodos {
    margin-top: 10px;
    padding: 10px;
}

.contenedorTodos:hover {
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
    cursor: pointer;
}

*/
@media (max-width: 992px) {
  #btnIngresa {
    display: none;
  }
}
@media (max-width: 767px) {
  .columna-a {
    order: 1;

    /* Cambia el orden de la Columna A para que aparezca después de la Columna B */
  }

  .columna-b {
    order: 2;
    justify-content: end;
    /* Cambia el orden de la Columna B para que aparezca antes de la Columna A */
  }
}
