/* .background {
  background-color: #09072c;
  height: 50vh;
}



/* Estilo específico para el Offcanvas con la clase 'custom-offcanvas' */

/* .category{
  padding: 0;
}
*/ .customAsideVar {
  background-color: #09072c;
  height: 50vh;

}