.whatsapp-icon {
  font-size: 40px;
  width: 40px;

  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  animation: bounce 0.5s infinite alternate;
  border-radius: 50%;
  background-color: #09072c;
  padding: 12px;
}

.whatsapp-icon:hover {
  background-color: #25d366;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
